<!doctype html>
<html lang="en">
<html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en-US">
    <meta name="author" content="Wave International">


    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>

    <title>locServer</title>
    <script> 
      window.httpUrl = "<%= httpUrl %>"
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyAY8dBXwC9nyjL1u2Ehe5JJtpyKnAhTKZI"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="<%= httpUrl %>main.js"></script>

    
  </head>
  <body>
    <%- body %>
  </body>
</html>


